body {
  background-color: #046380;
  padding: 20px;
  text-align: center;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

a {
  color: #111;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #046380;
  border-width:5px;
  border-style:solid;
  border-color:#111;
}

.contenttd {
  display: block;
  color: inherit;
  padding: 5px 10px;

}

.ad {
  border-bottom: 1px solid #000;
}
.warning {
  background-color: rgb(201, 160, 15);
}

input, button, select {
  margin-bottom : 20px;
}

table
{
  margin: auto;
  border-width:1px;
  border-style:solid;
  border-color:black;
  border-collapse:collapse;
  margin-bottom: 10px;
}
td, th
{
  text-align :center;
  border-width:1px;
  border-style:solid;
  border-color:black;
}

.loading {
  margin:auto;
}

